# My Data Science Journey

## Introduction

Welcome to my data science journey! In this notebook, I will explore various data science tools, languages, and libraries, and demonstrate some basic arithmetic operations commonly used in data analysis.

## Data Science Languages

1. Python
2. R
3. SQL

## Data Science Libraries

- NumPy
- Pandas
- Matplotlib
- Seaborn
- Scikit-learn

## Data Science Tools

| Tool            | Description                          |
|-----------------|--------------------------------------|
| Jupyter Notebook| Interactive computing environment    |
| VS Code         | Integrated development environment   |
| Git             | Version control system               |

## Arithmetic Expression Examples

Let's explore some basic arithmetic operations using Python.

In [4]:
# Multiplication
result_mul = 5 * 10
print("Multiplication result:", result_mul)

# Addition
result_add = 20 + 30
print("Addition result:", result_add)

Multiplication result: 50
Addition result: 50

In [5]:
# Convert minutes to hours
minutes = 150
hours = minutes / 60
print("150 minutes is equal to", hours, "hours.")

150 minutes is equal to 2.5 hours.

## Objectives

- Explore various data science tools, languages, and libraries.
- Perform basic arithmetic operations using Python.
- Convert minutes to hours.

## Author

- Flamur Maliqi